<head>
  <title><%= settings.name %></title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="../assets/tailwind.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
  <!-- Inter font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script>
    // Fetch the latest version from the site
    fetch('https://atqr.pages.dev/heliactyl.json')
      .then(response => response.json())
      .then(data => {
        const currentVersion = '<%= settings.version %>';
        const latestVersion = data.latest;

        // Update the version information in the content
        const versionSpan = document.getElementById('currentVersion');
        const releaseSpan = document.getElementById('releaseInfo');
        const versionStatusSpan = document.getElementById('versionStatus');

        versionSpan.textContent = currentVersion;

        if (currentVersion === latestVersion) {
          versionStatusSpan.textContent = 'You are running the latest version. Good job!';
          versionStatusSpan.classList.add('text-gray-600', 'text-xs', 'pt-2');
        } else {
          const link = document.createElement('a');
          link.href = 'https://github.com/heliactyloss/heliactyl/releases/tag/' + latestVersion;
          link.classList.add('text-amber-500', 'transition', 'hover:text-amber-600', 'font-medium');
          link.textContent = 'here';

          const linkText = document.createTextNode(`Heliactyl ${latestVersion} is ready to be updated to. Please click `);
          versionStatusSpan.appendChild(linkText);
          versionStatusSpan.appendChild(link);
          versionStatusSpan.appendChild(document.createTextNode(' to download it'));
          versionStatusSpan.classList.add('text-amber-500', 'text-xs', 'pt-2');
        }

        // Show the content
        document.getElementById('content').classList.remove('hidden');
      })
      .catch(error => {
        console.error('Error fetching latest version:', error);
        // Show the content even if the fetch fails
        document.getElementById('content').classList.remove('hidden');
      });
  </script>
</head>

<body class="bg-gray-100" style="font-family: 'Inter', sans-serif;">
  <div>
    <%- include('../components/navigation') %>
    <div class="md:pl-48 flex flex-col flex-1 h-screen">
      <main class="flex-1 pb-32">
        <div class="py-6">
          <% /* Skeleton loader, lasts about 0.3s to let the page content load */ %>
          <%- include('../components/skeleton') %>
          <div class="hidden max-w-7xl pt-8 mx-auto px-4 sm:px-6 md:px-8" id="content">
            <!-- Content -->
            <div class="lg:flex lg:items-center lg:justify-between rounded-3xl mb-8">
              <div class="min-w-0 flex-1">
                <div class="flex">
                  <div class="relative">
                    <div class="bg-gray-200 rounded-2xl h-11 w-11 text-center flex text-gray-400">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mt-3 ml-3">
                        <path fill-rule="evenodd" d="M3 6a3 3 0 0 1 3-3h12a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm14.25 6a.75.75 0 0 1-.22.53l-2.25 2.25a.75.75 0 1 1-1.06-1.06L15.44 12l-1.72-1.72a.75.75 0 1 1 1.06-1.06l2.25 2.25c.141.14.22.331.22.53Zm-10.28-.53a.75.75 0 0 0 0 1.06l2.25 2.25a.75.75 0 1 0 1.06-1.06L8.56 12l1.72-1.72a.75.75 0 1 0-1.06-1.06l-2.25 2.25Z" clip-rule="evenodd" />
                      </svg>
                    </div>
                  </div>
                  <div class="relative ml-4">
                    <h2 class="text-xl font-semibold text-gray-700 sm:truncate tracking-tight">Admin</h2>
                    <p class="text-xs font-thin text-gray-500">Perform admin actions on the Heliactyl dashboard.</p>
                  </div>
                </div>
              </div>
            </div>
            <% if (req.query.err) { %>
            <div class="rounded-3xl bg-gray-200 p-8 mb-5">
              <div class="flex">
                <div class="flex-shrink-0">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5 w-5 text-gray-400">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                </div>
                <div class="ml-3">
                  <h3 class="text-md font-medium tracking-tight text-gray-700">An error was encountered</h3>
                  <div class="mt-1 text-sm text-gray-500">
                    <p>Error code: <code><%= req.query.err %></code></p>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <div class="lg:flex lg:items-center lg:justify-between p-8 border border-gray-200 rounded-3xl">
              <div class="min-w-0 flex-1 ml-4">
                <h2 class="text-xl font-semibold text-gray-700 sm:truncate tracking-tight">Heliactyl version 14</h2>
                <p class="text-xs mt-2 font-thin text-gray-500 mb-2">
                  This dashboard is running Heliactyl version <span class="bg-gray-200 px-2 py-1 mb-2 rounded-full" id="currentVersion"></span>
                </p>
                <span id="versionStatus"></span>
              </div>
              <div class="mt-5 flex lg:ml-4 lg:mt-0">
                <span class="sm:ml-3 mr-3">
                  <img src="https://atqr.pages.dev/v2Favicon.png" class="h-20 rounded-3xl bg-gray-200 p-3">
                </span>
              </div>
            </div>

            <!-- Add coins -->
            <div class="card mt-10">
              <div class="card-body">
                <h1 class="text-xl font-semibold text-gray-700 sm:truncate tracking-tight mb-4">Add coins</h1>
                <% /* Discord ID */ %>
                <label for="location" class="text-sm font-medium text-gray-600">Discord ID</label><br>
                <input type="text" class="mt-3 mb-4 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-1/4 text-sm justify-center form-control rounded-xl placeholder:text-gray-400 text-gray-600" id="id1" placeholder="000000000000000000">

                <% /* Amount */ %>
                <label for="location" class="text-sm font-medium text-gray-600">Amount</label><br>
                <input type="text" class="mt-3 mb-4 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-1/4 text-sm justify-center form-control rounded-xl placeholder:text-gray-400 text-gray-600" id="amount1" placeholder="100">

                <% /* Submit form */ %>
                <a href="javascript:addCoins()" type="button" class="mt-6 transition inline-flex items-center rounded-2xl bg-gray-200 px-8 py-2 text-sm font-medium text-gray-600 hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                  Add
                </a>
              </div>
              <script>
                async function addCoins() {
                  let id1 = encodeURIComponent(document.getElementById("id1").value);
                  let amount1 = encodeURIComponent(document.getElementById("amount1").value);
                  document.location.href = `/addcoins?id=${id1}&coins=${amount1}`;
                };
              </script>

              <!-- Add resources -->
              <div class="card mt-10">
                <div class="card-body">
                  <h1 class="text-xl font-semibold text-gray-700 sm:truncate tracking-tight mb-4">Add resources</h1>
                  <% /* Discord ID */ %>
                  <label for="location" class="text-sm font-medium text-gray-600">Discord ID</label><br>
                  <input type="text" class="mt-3 mb-4 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-1/4 text-sm justify-center form-control rounded-xl placeholder:text-gray-400 text-gray-600" id="id2" placeholder="000000000000000000">

                  <% /* CPU */ %>
                  <label for="location" class="text-sm font-medium text-gray-600">CPU Cores</label><br>
                  <input type="text" class="mt-3 mb-4 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-1/4 text-sm justify-center form-control rounded-xl placeholder:text-gray-400 text-gray-600" id="cpu" placeholder="1">

                  <% /* Memory */ %>
                  <label for="location" class="text-sm font-medium text-gray-600">Memory (GiB)</label><br>
                  <input type="text" class="mt-3 mb-4 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-1/4 text-sm justify-center form-control rounded-xl placeholder:text-gray-400 text-gray-600" id="memory" placeholder="2">

                  <% /* Storage */ %>
                  <label for="location" class="text-sm font-medium text-gray-600">Storage (GiB)</label><br>
                  <input type="text" class="mt-3 mb-4 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-1/4 text-sm justify-center form-control rounded-xl placeholder:text-gray-400 text-gray-600" id="storage" placeholder="10">

                  <% /* Servers */ %>
                  <label for="location" class="text-sm font-medium text-gray-600">Servers</label><br>
                  <input type="text" class="mt-3 mb-4 px-4 py-2 focus:border-gray-400 focus:ring-gray-600 border border-gray-200 shadow-sm transition ease-in-out delay-100 group relative flex w-1/4 text-sm justify-center form-control rounded-xl placeholder:text-gray-400 text-gray-600" id="servers" placeholder="5">

                  <% /* Submit form */ %>
                  <a href="javascript:addResources()" type="button" class="mt-6 transition inline-flex items-center rounded-2xl bg-gray-200 px-8 py-2 text-sm font-medium text-gray-600 hover:bg-gray-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">
                    Add
                  </a>
                </div>
                <script>
                  async function addResources() {
                    let id2 = encodeURIComponent(document.getElementById("id2").value);
                    let cpu = encodeURIComponent(document.getElementById("cpu").value * 100);
                    let memory = encodeURIComponent(document.getElementById("memory").value * 1024);
                    let storage = encodeURIComponent(document.getElementById("storage").value * 1024);
                    let servers = encodeURIComponent(document.getElementById("servers").value);
                    document.location.href = `/addresources?id=${id2}&cpu=${cpu}&ram=${memory}&disk=${storage}&servers=${servers}`;
                  };
                </script>
              </div>
            </div>
      </main>
      <%- include('../components/footer') %>
    </div>
  </div>
</body>